<footer class="footer">
    <div class="icons">
        <a
            href="https://www.facebook.com/saptarshi.sarkar.3194/"
            target="_blank"
        >
            <div class="layer">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fab fa-facebook-f"></span>
            </div>
            <div class="text">Facebook</div>
        </a>
        <a href="https://twitter.com/IamSS_SS?s=09" target="_blank">
            <div class="layer">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fab fa-twitter"></span>
            </div>
            <div class="text">Twitter</div>
        </a>
        <a href="https://www.instagram.com/i__am_ss/" target="_blank">
            <div class="layer">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fab fa-instagram"></span>
            </div>
            <div class="text">Instagram</div>
        </a>
        <!-- <a href="hhttps://www.shutterstock.com/g/I__am_SS" target="_blank">
        <div class="layer">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span class="far fa-images"></span>
        </div>
        <div class="text">
          Shutterstock
        </div>
      </a> -->
        <a
            href="https://www.linkedin.com/in/saptarshi-sarkar-aa20781b1/"
            target="_blank"
        >
            <div class="layer">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fab fa-linkedin-in"></span>
            </div>
            <div class="text">Linkedin</div>
        </a>
        <a
            href="https://youtube.com/channel/UCkCSWT1_Lj1NGkIlNnG49vg"
            target="_blank"
        >
            <div class="layer">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fab fa-youtube"></span>
            </div>
            <div class="text">YouTube</div>
        </a>
        <a href="https://github.com/saptarshisarkar20" target="_blank">
            <div class="layer">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fab fa-github"></span>
            </div>
            <div class="text">GitHub</div>
        </a>
    </div>
    <p class="cp">
        <span
            >Created By <a href="https://saptarshi-personal.herokuapp.com/" target="_blank">Saptarshi Sarkar</a> <br>
            <span class="far fa-copyright"></span> 2021 All rights
            reserved.</span
        >
    </p>
</footer>
</html>