<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SS News</title>
        <link
            rel="shortcut icon"
            href="/img/favicon.ico"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/3dbutton.css" />
        <link
            href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/public/css/3dbutton.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        />
    </head>
    <p class="myweb">
        😀 Check out My Website
        <span
            >👉<a href="https://saptarshi-personal.herokuapp.com/" target="_blank"> Here </a>
            👈</span
        >
    </p>

